  <div class="wrapper">
    <form class="form-signin" (ngSubmit)="onSubmit()">       
      <h2 class="clean-font">Please login</h2>

      <input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="Username" name="username" required autofocus="" />
      <br />

      <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Password" required /> 
      <br />

      <button class="btn btn-primary btn-block" type="submit">Login</button>  
       <button class="btn btn-secondary btn-block" routerLink="/signup" >Sign up</button>    
    </form>
  </div>

   <div class="alert alert-danger" role="alert"  *ngIf="errorStatus" >{{errorMsg}}</div>

 